<div class="form-row">
	<div class="form-item">
		<label>Title</label>
		<input type="text" name="title" value="<%= movie.title %>" />
	</div>

	<div class="form-item">
		<label>Director</label>
		<select name="director">
			<% directors.forEach(director => { %>
			<!-- FIXME (director.id === movie.director) always false -->
			<% if (director.id === movie.director?.toString()) { %>
			<option
				selected
				label="<%= director.name %>"
				value="<%= director.id %>"
			></option>
			<!-- FIXED allow true by using optional chaining: movie.director?.toString() -->
			<% } else { %>
			<option label="<%= director.name %>" value="<%= director.id %>"></option>
			<% } %> <% }); %>
		</select>
	</div>
</div>

<div class="form-row">
	<div class="form-item">
		<label>Release Date</label>
		<input
			type="date"
			name="releaseDate"
			value="<%= movie.releaseDate == null ? '' : movie.releaseDate.toISOString().split('T')[0] %>"
		/>
	</div>

	<div class="form-item">
		<label>Rating</label>
		<input
			type="number"
			name="rating"
			min="0"
			max="10"
			step="0.1"
			value="<%= movie.rating %>"
		/>
	</div>
</div>

<div class="form-row">
	<div class="form-item form-item-no-grow">
		<label>Cover</label>
		<input type="file" name="cover" class="movie-cover filepond" />
	</div>

	<div class="form-item">
		<label>Description</label>
		<textarea name="description"><%= movie.description %></textarea>
	</div>
</div>
