<h2 class="page-header"><%= movie.title %></h2>

<div class="movie-details">
	<div>
		<img class="movie-cover" src="<%= movie.coverImagePath %>" />
		<div class="movie-details-btn-grid">
			<a class="btn btn-primary" href="/movies/<%= movie.id %>/edit">Edit</a>
			<%- include('../partials/deleteForm', { url : `/movies/${movie.id}` }) %>
			<a
				class="btn btn-primary movie-details-actor-button"
				href="/actors/<%= movie.actor.id %>"
				>View Actor</a
			>
		</div>
	</div>

	<div class="movie-details-grid">
		<div class="movie-details-label">Actor:</div>
		<div><%= movie.actor.name %></div>
		<div class="movie-details-label">Publish Date:</div>
		<div><%= movie.publishDate.toDateString() %></div>
		<div class="movie-details-label">Page Count:</div>
		<div><%= movie.pageCount %></div>
		<div class="movie-details-label">Description:</div>
		<div><%= movie.description %></div>
	</div>
</div>
